<!doctype html>
{% extends "base.html" %}

{% block title %}Disciplinas{% endblock %}

{% block header %}
  <h1>Gerenciar Disciplinas</h1>
{% endblock %}

{% block content %}
  <a href="{{ url_for('admin.criar_disciplina') }}">Criar Nova Disciplina</a>
  <ul>
    {% for disciplina in disciplinas %}
      <li>{{ disciplina['nome'] }} ({{ disciplina['curso_nome'] }} - Classe {{ disciplina['ano'] }}) - {{ disciplina['descricao'] }}
        <form method="post" action="{{ url_for('admin.deletar_disciplina', id=disciplina['id']) }}" style="display:inline;">
          <input type="submit" value="Deletar" onclick="return confirm('Tem certeza?')">
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}