<!doctype html>
{% extends "base.html" %}

{% block title %}Turmas{% endblock %}

{% block header %}
  <h1>Gerenciar Turmas</h1>
{% endblock %}

{% block content %}
  <a href="{{ url_for('admin.criar_turma') }}">Criar Nova Turma</a>
  <ul>
    {% for turma in turmas %}
      <li><a href="{{ url_for('admin.turma_detalhes', id=turma['id']) }}">{{ turma['designacao'] }}</a> - Ano {{ turma['ano'] }} ({{ turma['curso_nome'] }}, {{ turma['ano_lectivo'] }})
        <form class="delete-form" method="post" action="{{ url_for('admin.deletar_turma', id=turma['id']) }}">
          <input type="submit" value="Deletar">
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}